<form class="box" action="/admindashboard/adduser" method="POST">
  <label>Enter new user details</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Firstname" name="firstName">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Last Name" name="lastName">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter email" name="email">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter password" name="password">
      </div>
      <div class="field">
        <input class="input" type="boolean" placeholder="true or false" name="admin">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add User</button>
</form>

