<form class="box" action="/review/addreview" method="POST">
  <label>Enter new review</label>
  <div class="field">
    <label class="label">Chose Place</label>
      <div class="select">
        <select name="place">
          {{#each places }}
            <option> {{placename}}</option>
          {{/each}}
        </select>
      </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Rate" name="rate" required>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Review" name="review" required>
      </div>
      <button class="button is-primary">Add Review</button>
    </div>
  </div>
</form>

