<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Walk Trail POI" subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="300" src="images/img1.png"/>
  </div>
  <div class="column">
    <h1 class="title">Share your Place</h1>
    <p>Share your favorite place!</p>
  </div>
</div>
