<div class="columns is-vcentered">
  <div class="column is-one-thirds">
    {{> TitleBar title="Walk Trail POI" subTitle="List of beautiful walk trail!"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns is-vcentered">
  <div class="column has-text-centered">
    <img width="400" src="images/img6.png">
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Favorite Walk Trail</h1>
    {{> PlaceList }}
  </div>
</div>

<div class="columns is-vcentered">
  <div class="column is-one-thirds">
    <img width="400" src="images/img5.png">
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Your Favorite Walk Trail</h1>
    {{#if user}}
      <div class="is-size-7">User ID: {{user._id}} Welcome {{user.firstName}} </div>
    {{else}}
      <div class="is-size-7">Point of Interest</div>
    {{/if}}
    {{> users-placelist }}
  </div>
</div>

</div>